# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
bower_components/
web_modules/

# Build output
dist/
dist-ssr/
.output/
build/
.next/
out/
.nuxt/
.svelte-kit/
.vuepress/dist
**/.vitepress/dist

# Cache
.cache/
.parcel-cache/
.vite/
.npm
.eslintcache
.stylelintcache
.temp

# Environment variables
.env
.env.*
!.env.example

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.vscode-test/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package managers
.pnpm-store/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity

# Firebase
.firebase/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Misc
lib-cov/
.lock-wscript
.node_repl_history
*.tgz
.tern-port